[submodule "netreflected/docs/net462"]
	path = docs/net462
	url = https://github.com/masesgroup/FrameworkDocs.git
[submodule "netreflected/docs/net6.0"]
	path = docs/net6.0
	url = https://github.com/masesgroup/NET6Docs.git
[submodule "netreflected/docs/net7.0"]
	path = docs/net7.0
	url = https://github.com/masesgroup/NET7Docs.git
