[submodule "netreflected/docs/netcoreapp3.1"]
	path = netreflected/docs/netcoreapp3.1
	url = https://github.com/masesgroup/CoreDocs.git
[submodule "netreflected/docs/net461"]
	path = netreflected/docs/net461
	url = https://github.com/masesgroup/FrameworkDocs.git
[submodule "netreflected/docs/net5.0"]
	path = netreflected/docs/net5.0
	url = https://github.com/masesgroup/NET5Docs.git
[submodule "netreflected/docs/net6.0"]
	path = netreflected/docs/net6.0
	url = https://github.com/masesgroup/NET6Docs.git
