    public STATIC_KEYWORDMETHOD_RETURN_TYPE METHOD_NAME(METHOD_PARAMETERS) throws ThrowableTHROWABLE_TEMPLATE {
        try {
            return (METHOD_RETURN_TYPE)METHOD_OBJECT.Invoke("METHOD_NAME"METHOD_INVOKE_PARAMETERS);
        } catch (JCNativeException jcne) {
            throw translateException(jcne);
        }
    }
