    public final METHOD_MODIFIER_KEYWORDPROPERTY_OUTPUTTYPE getPROPERTY_NAME(PROPERTY_PARAMETERS) throws ThrowableTHROWABLE_TEMPLATE {
        if (PROPERTY_OBJECT == null)
            throw new UnsupportedOperationException("PROPERTY_OBJECT is null.");
        try {
            return (PROPERTY_OUTPUTTYPE)PROPERTY_OBJECT.Get("PROPERTY_NAME"PROPERTY_INVOKE_PARAMETERS);
        } catch (JCNativeException jcne) {
            throw translateException(jcne);
        }
    }
