    public PACKAGE_CLASS_NAME(CTOR_PARAMETERS) throws ThrowableTHROWABLE_TEMPLATE {
        try {
            // add reference to assemblyName.dll file
            addReference(JCOBridgeInstance.getUseFullAssemblyName() ? assemblyFullName : assemblyShortName);
            classInstance = (JCObject) classType.NewObject(CTOR_NEWOBJECT_PARAMETERS);
        } catch (JCNativeException jcne) {
            throw translateException(jcne);
        }
    }
