	public final PACKAGE_INNER_CLASS_NAME next() {
		try {
			return new PACKAGE_IMPLEMENTATION_INNER_CLASS_NAME(classInstance.next());
		} catch (Throwable jce) {
			throw new java.util.NoSuchElementException(jce.getMessage());
		}
	}
