    public final METHOD_MODIFIER_KEYWORDvoid setPROPERTY_NAME(PROPERTY_INPUTTYPE PROPERTY_INPUTNAME) throws ThrowableTHROWABLE_TEMPLATE {
        if (PROPERTY_OBJECT == null)
            throw new UnsupportedOperationException("PROPERTY_OBJECT is null.");
        try {
            PROPERTY_OBJECT.Set("PROPERTY_NAME"PROPERTY_VALUE);
        } catch (JCNativeException jcne) {
            throw translateException(jcne);
        }
    }
