    public METHOD_MODIFIER_KEYWORDvoid addEVENT_NAME(EVENT_HANDLER_TYPE handler) throws Throwable;

    public METHOD_MODIFIER_KEYWORDvoid removeEVENT_NAME(EVENT_HANDLER_TYPE handler) throws Throwable;
