    public METHOD_MODIFIER_KEYWORDvoid METHOD_JAVA_NAME(METHOD_PARAMETERS) throws ThrowableTHROWABLE_TEMPLATE {
        if (METHOD_OBJECT == null)
            throw new java.lang.UnsupportedOperationException("METHOD_OBJECT is null.");
        try {
            METHOD_OBJECT.Invoke("METHOD_NAME"METHOD_INVOKE_PARAMETERS);
        } catch (JCNativeException jcne) {
            throw translateException(jcne);
        }
    }
