# This is a basic workflow to help you get started with Actions

name: CI_RELEASE

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  release:
    types: 
      - published
      - edited

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_release:
    # The type of runner that the job will run on
    runs-on: windows-2019
  
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      # Support longpaths
      - name: Support long paths
        run: git config --system core.longpaths true
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with: 
          submodules: 'true'
          fetch-depth: '1'

      # Runs a set of commands using the runners shell
      - name: Build JCOReflectorCLI
        run: |
          dotnet build --no-incremental --framework netcoreapp3.1 JCOReflector\JCOReflectorCLI.sln
          dotnet build --no-incremental --framework net5.0 JCOReflector\JCOReflectorCLI.sln  
          dotnet build --no-incremental --framework net461 JCOReflector\JCOReflectorCLI.sln  

      # Runs a set of commands using the runners shell
      - name: Copy configuration file
        run: |
          Copy-Item .github\workflows\JCOReflectorCLI.runtimeconfig.json -Destination bin\netcoreapp3.1\JCOReflectorCLI.runtimeconfig.json -Force
          Copy-Item .github\workflows\JCOReflectorCLI5.0.runtimeconfig.json -Destination bin\net5.0\JCOReflectorCLI.runtimeconfig.json -Force
   
      - name: Build Java files
        run: |
          dotnet bin\netcoreapp3.1\JCOReflectorCLI.dll build .github\workflows\build_win19.job
          dotnet bin\net5.0\JCOReflectorCLI.dll build .github\workflows\build_win19.job
          .\bin\net461\JCOReflectorCLI build .github\workflows\build_win19.job
          
      - name: Build JAR files
        run: |
          dotnet .\bin\netcoreapp3.1\JCOReflectorCLI.dll createjars .github\workflows\createjars_core3.1_win19.job
          dotnet .\bin\net5.0\JCOReflectorCLI.dll createjars .github\workflows\createjars_core5.0_win19.job
          .\bin\net461\JCOReflectorCLI createjars .github\workflows\createjars_framework_win19.job

      - name: Build Java Help files
        run: |
          dotnet bin\netcoreapp3.1\JCOReflectorCLI.dll builddocs .github\workflows\builddocs_win19.job
          dotnet bin\net5.0\JCOReflectorCLI.dll builddocs .github\workflows\builddocs_win19.job
          .\bin\net461\JCOReflectorCLI builddocs .github\workflows\builddocs_win19.job

      - name: Compress release files
        run: | 
          Compress-Archive -Path .\bin\netcoreapp3.1\* -DestinationPath .\bin\netcoreapp3.1.zip
          Compress-Archive -Path .\bin\net5.0\* -DestinationPath .\bin\net5.0.zip
          Compress-Archive -Path .\bin\net461\* -DestinationPath .\bin\net461.zip

      - name: Commit changes to netcoreapp3.1 help file
        uses: EndBug/add-and-commit@v5
        with:
          push: false
          add: '.\netreflected\docs\netcoreapp3.1\*.*'
          message: Update help file after commit ${{ env.GITHUB_COMMIT_MESSAGE }}
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit changes to net5.0 help file
        uses: EndBug/add-and-commit@v5
        with:
          push: false
          add: '.\netreflected\docs\net5.0\*.*'
          message: Update help file after commit ${{ env.GITHUB_COMMIT_MESSAGE }}
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit changes to net461 help file
        uses: EndBug/add-and-commit@v5
        with:
          push: false
          add: '.\netreflected\docs\net461\*.*'
          message: Update help file after commit ${{ env.GITHUB_COMMIT_MESSAGE }}
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Commit changes to superproject
        uses: EndBug/add-and-commit@v5
        with:
          push: false
          add: '.\*.*'
          message: Update help submodule after commit ${{ env.GITHUB_COMMIT_MESSAGE }}
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: .\bin\netcoreapp3.1.zip
          asset_name: netcoreapp3.1.zip
          tag: ${{ github.ref }}
          overwrite: true
          
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: .\bin\net5.0.zip
          asset_name: net5.0.zip
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: .\bin\net461.zip
          asset_name: net461.zip
          tag: ${{ github.ref }}
          overwrite: true
